node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
README.md
.editorconfig
storage/logs/*
bootstrap/cache/*
vendor/bin
.vscode
.idea
tests
phpunit.xml
docker-compose.yml
.gitattributes
.dockerignore
Dockerfile
